#contact{
    position: relative;
    padding-inline: 110px;
    font-family: sans-serif;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    @include for-size(tablet){
        top: 100vh;
        padding-top: 70px;
    }
    @include for-size(phone){
        top: 200vh;
        padding: 110px;
        padding-inline: 10px;
        height: 130vh;
    }

    .newsletter{
        padding-top: 50px;
        h1{
            margin: 0;
        }
        .input-send{
            display: flex;
            min-width: 350px;
            width: 50%;
            flex-wrap: wrap;

            align-items: center;
            input{
                flex:2;
                font-size: 1rem;
                color: gray;
                padding: 8px 5px;
                margin-right: 20px;
                border-radius: 10px;
                background-color: transparent;
                border: 2px solid $light-gray;


                
            }
            img{
                height: 50px;
                object-fit: contain;
            }
        }
        

    }

    .sofa{
        position: absolute;
        width: 500px;
        right: 0;
        top: -100px;
        @include for-size(tablet){
            display: none;
        }
    }






    footer{
        display: flex;
        flex-wrap: wrap;
        color: gray;
        padding-top: 30px;

        .furni-about{
            flex: 2;
            min-width: 350px;
            .social-links{
                width: 100%;
                display: flex;
                padding-top: 50px;
                gap: 5px;
                img{
                    cursor: pointer;
                }
            }
            
        }
        .links{
            flex: 1;
            padding-top: 30px;

            ul{
                list-style: none;
            }
        }
        .foot-info{
            min-width: 350px;
            padding: 50px 0;
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include for-size(phone){
                flex-direction: column;
            }
            p{
                flex: 1;
                span{
                    margin-left: 20px;
                }
            }
        }
    }
}